<ur-loader *ngIf="pracownicyService.isLoading"></ur-loader>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="imie">Imię: </label>
        <input type="text"
               id="imie"
               class="form-control"
               name="imie"
               placeholder="Marian"
               maxlength="32"
               ngModel
               required
               imie
               #imie="ngModel">
        <span class="help-block" *ngIf="!imie.valid && imie.touched" style="color:red; font-size: 10px">Imie jest wymagane!</span>
      </div>
      <div class="form-group">
        <label for="nazwisko">Nazwisko: </label>
        <input type="text"
               id="nazwisko"
               placeholder="Pażdzioch"
               maxlength="32"
               class="form-control"
               name="nazwisko"
               ngModel
               #nazwisko="ngModel"
               required>
        <span class="help-block" *ngIf="!nazwisko.valid && nazwisko.touched" style="color:red; font-size: 10px">Nazwisko jest wymagane!</span>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email"
               placeholder="mail@mail.com"
               id="email"
               class="form-control"
               name="email"
               ngModel
               maxlength="32"
               required
               email
               #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched" style="color:red; font-size: 10px">Wprowadź poprawny email!</span>
      </div>
      <div class="form-group">
        <label for="haslo">Hasło: </label>
        <input type="password"
               id="haslo"
               class="form-control"
               name="haslo"
               maxlength="32"
               ngModel
               required
               haslo
               #haslo="ngModel">
        <span class="help-block" *ngIf="!haslo.valid && haslo.touched" style="color:red; font-size: 10px">Wprowadź poprawny email!</span>
      </div>
      <div class="form-group">
        <label for="stanowisko">Stanowisko : </label>
        <select class="custom-select form-control mr-sm-2"
                id="stanowisko"
                name="stanowisko"
                maxlength="32"
                ngModel
                required
                stanowisko
                #stanowisko="ngModel">
          <option value="2" selected>Kasjer</option>
          <option value="3">Ochroniarz</option>
          <option value="4">Obsługa myjni</option>
          <option value="5">Obsługa dystrybutora</option>
        </select>

        <span class="help-block" *ngIf="!stanowisko.valid && stanowisko.touched" style="color:red; font-size: 10px">Stanowisko jest wymagane!</span>

        <div>
          <button class="btn btn-primary" [disabled]="!f.valid ">Dodaj
          </button>

        </div>
      </div>
    </form>
  </div>
</div>

