<div style="margin: 0 auto; width: 285px">
  <button class="btn btn-primary" (click)="zmianaKamery(1)" [disabled]="kamera===1">Kamera 1</button>
  <button class="btn btn-primary" (click)="zmianaKamery(2)" [disabled]="kamera===2">Kamera 2</button>
  <button class="btn btn-primary" (click)="zmianaKamery(3)" [disabled]="kamera===3">Kamera 3</button>

</div>
<iframe *ngIf="kamera===1"
        style="overflow:hidden;width:90%;margin-left: 5% "
        height="300"
        allowfullscreen
        src="https://ak2.picdn.net/shutterstock/videos/4058212/preview/stock-footage-man-pushes-his-car-up-to-the-pumps-at-an-unbranded-gas-station-locked-off-shot-with-wide-angle.webm">
</iframe>
<iframe *ngIf="kamera===2" style="overflow:hidden;width:90%;margin-left: 5% " height="315"
        src="https://www.youtube.com/embed/GSvahpRTkRw" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe *ngIf="kamera===3"
        style="overflow:hidden;width:90%;margin-left: 5% "
        height="300"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        src="https://www.youtube.com/embed/IIIFrXuVQOE">
</iframe>
